{% extends 'forum/base.html' %}

{% block nav %}
    {% include 'forum/nav/nav.html' %}
{% endblock %}

{% block banner %}
<div id="banner">
    <div class="container">
        <h3>Fai domande e ricevi le migliori risposte!</h3>
    </div>
</div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="body-left">
            {% include 'forum/questions/latest/latest.html' %}
        </div><div class="body-right">
            <div>
                Ultimi post dal blog di Devnews.it
            </div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
