<nav>
    <div class="container">
        <a id="logo" href="/"><img alt="Dvnews.it logo" src="https://images.devnews.it/devitalia-logo.png"></a>
        <ul id="login-list">
            <li>
                <button>Entra</button>
            </li>
            <li>
                <button>Registrati</button>
            </li>
        </ul>
        <ul id="nav-list">
            <li>
                <a href="/page1">Page1</a>
            </li>
            <li>
                <a href="/page1">Page2</a>
            </li>
            <li>
                <a href="/page1">Page3</a>
            </li>
        </ul>
        <div id="clear"></div>
    </div>
</nav>
