body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: 100%;
    background: #fefefe;
    clear: both;
    color: #535a60;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

#clear{
    clear: both;
}

a{
    color: #535a60;
    text-decoration: none;
}

a:hover{
    color: #2ecc71;
}

button{
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    background: #2ecc71;
    color: #fff;
    border: solid 1px #2dcc71;
}

button:hover{
    background: #fefefe;
    color: #2ecc71;
    cursor: pointer;
    border: 1px solid #ccc;
}

/*nav*/
nav{
    background: #fefefe;
    border-top: 3px solid #2ECC71;
    float: left;
    width: 100%;
}

nav .container{
    padding: 10px 0;
}

#logo{
    float: left;
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#logo img{
    width: 120px;
}

#nav-list{
    padding: 12px 12px;
    margin: 0;
    font-size: 0.9em;
    float: right;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

#nav-list li{
    display: inline-block;
    margin: 0 20px;
}

#login-list{
    padding: 8px 12px;
    margin: 0;
    float: right;
    list-style: none;
    display: inline-block;
    vertical-align: middle;

}

#login-list li{
    display: inline-block;
}

#login-list li button {
    margin: 0 5px;
}

/*banner*/

#banner{
    background: #2ecc71;
    height: 300px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

#banner h3{
    margin-top: 0;
}
